# aggregating {{input 'df'}}
{{output 'df'}} = {{input 'df'}}.groupby(
{{#if props.groupBy}}
	{{#each props.groupBy}}F.col("{{this}}"){{#unless @last}},{{/unless}}{{/each}}
{{else}}
	[]
{{/if}}
).agg(
	{{#each props.aggregations}}F.{{this.agg}}(F.col("{{this.col}}")).alias("{{this.alias}}"){{#if @first}},{{/if}}{{/each}}
)
{{output 'df'}} = {{output 'df'}}.alias("{{props.alias}}")
