{{#if comment}}
# {{comment}}
{{else}}
# extract {{props.source}}
{{/if}}
{{output 'df'}} = block_utils.extract(spark,env,"{{props.source}}")
{{output 'df'}} = {{output 'df'}}.alias("{{props.alias}}")