import json

# load {{input 'df'}} to {{props.location}}
column_mappings = [
    {{#each props.columns}}{
        "source": "{{this.source}}",
        "target": "{{this.target}}"
    }{{#unless @last}},{{/unless}}
    {{/each}}]
block_utils.load(
    spark,
    env,
    {{input 'df'}},
    "{{props.connection}}",
    "{{props.format}}",
    "{{props.location}}",
    column_mappings
)
