import json

print("loading {{input 'df'}} to {{props.location}}")
block_utils.load(
    spark,
    env,
    {{input 'df'}},
    "{{props.connection}}",
    "{{props.format}}",
    "{{props.location}}",
    json.loads("""{{json props.columns}}""")
)
