import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql import SparkSession
spark = SparkSession \
  .builder \
  .appName("superglue studio") \
  .config("spark.sql.decimalOperations.allowPrecisionLoss",False) \
  .getOrCreate()
